* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 100vh;

    color: rgb(232, 232, 232);
    background-color: rgb(97, 142, 111);
}


header {
    margin: 1.5em;
    text-align: center;

    color: #fafafa;
}

main {
    flex: 1;
    width: 100%;
}

#shopping-lists-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
    margin: 0;
}

footer {
    margin-top: auto;
    padding: 1em;
    text-align: center;
}

.btn-load {
    margin: 0 auto;
}

.new-week {
    align-self: center;
}

/* C A R D S */


.cards-container {
    display: flex;
    flex-direction: row no-wrap;
    justify-content: space-evenly;
    /* gap: 5em; */

    margin: 2em 0;
    padding: 0;
}

.card {
    display: flex;
    flex-direction: column;

    max-width: 40vw;
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 2em;

    padding: .5em;

    background-color: rgb(49, 50, 78);

    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.card-list {
    padding: 1em;

    color: aliceblue;
    background-color: rgb(21, 22, 34);
    
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.card-list > p {
    margin: 1.15em 0;
}

h3 {
    text-transform: uppercase;
}

/* C A R T   I T E M S */

.cart-item {
    padding: 0.5em;
    margin: 0.2em 0;
    border-radius: 0.3em;
    transition: background-color 0.3s ease;
}

.cart-item:hover {
    opacity: 0.88;
}

.card-list > ul > li:nth-child(odd) {
    background-color: rgb(71, 55, 42);
}

.card-list > ul > li:nth-child(even) {
    background-color: rgb(69, 69, 69);
    background-color: rgb(46, 35, 22);
}

.in-cart {
    color: rgb(103, 205, 103);
    /* background-color: rgb(59, 89, 179); */
}

.out-cart {
    color: rgb(215, 64, 95);
    /* background-color: rgb(37, 55, 110); */
    /* background-color: rgb(59, 89, 179); */
}

.item-name {
    font-weight: bold;
}

.item-units {
    margin-left: 0.5em;
    font-style: italic;
}

